*{
	border:0;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #555;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    /*overflow-x:hidden;*/
}

td,
th,
caption {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img,iframe{
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

html{
	overflow-x:hidden;
	overflow-y: hidden;
}
.bodymain{
	width:250px;
	padding:0px 10px 10px 10px;
	background:linear-gradient(lightblue,white);
	box-shadow:0 0 20px #000 ;
}
nav{
	padding:5px;
	height:30px;
	width:240px;
}
nav ul li{
	padding:5px;
	display: inline-block;
	color:#000;
	font: 14px simsun;
	border:1px lightblue solid;
	border-radius:5px ;
}
nav ul li:hover{
	cursor: pointer;
	border:1px #D2D2D2 solid;
	background-color:#E8E8E8 ;
}
.bodycontainer{
	height:230px;
	width:230px;
	background: url(../img/bg.png) no-repeat;
	padding:10px;
	box-shadow:0 0 5px #000 ;
}
.bodycontainer figure{
	position: relative;
	background-image: url(../img/unSelected.png);
	height:25px;
	width:25px;
	float:left;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
}
.mine{
	display: none;
	position: absolute;
	top:2px;left:2px;
}
.flag{
	display: none;
	position: absolute;
	top:7px;left:5px;
}
.bodycontainer figure p{
	display:none;
}
